
    <h3>学習目標の修正</h3>
    <%= form_with(model: @goal, local: true) do |f| %>
      <p>学習科目</p>
      <%= f.text_field :theme, placeholder: "学習する科目を書きましょう" %>
      <p>学習する目的</p>
      <%= f.text_field :purpose, placeholder: "目標を達成したらどうなりたいか書きましょう" %>
      <p>目標学習時間</p>
      <%= f.text_field :target_total_time, placeholder: "目標の総時間数を入力しましょう（単位：時間）" %>
      <%= f.submit "決定する" %>
    <% end %>
    <%= link_to '目標の削除', goals_path(@goal.id), class: "btn btn-secondary btn-sm", method: :delete %>
